.blog-articles {
  padding: 90px 0;
  font-family: "Playfair Display", serif;
}
.blog-articles__row {
  display: flex;
  flex-wrap: wrap;
}
.blog-articles__item {
  max-width: 360px;
  margin-bottom: 25px;
  transition: box-shadow 0.2s ease;
  padding: 10px 10px 15px 10px;
  border-radius: 10px;
  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16), 0px 0px 0px rgba(0, 0, 0, 0);
  }
}
.blog-articles__item-image {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.blog-articles__item-title {
  margin: 12px 0 10px 0;
  font-size: 26px;
  line-height: 1.23;
}
.blog-articles__item-desc {
  color: #eb971a;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
}

@media screen and (max-width: 1200px) {
  .blog-articles__row {
    justify-content: space-around;
  }
}
@media screen and (max-width: 575px) {
  .blog-articles {
    padding: 50px 0;
  }
  .blog-articles__row {
    justify-content: center;
  }
  .blog-articles__item-title {
    padding: 0 10px;
    font-size: 25px;
  }
  .blog-articles__item-desc {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
