.article-detail {
  padding: 120px 0 30px 0;
  font-family: "Playfair Display", serif;
}
.article-detail-banner {
  width: 95%;
  border-radius: 15px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-detail-banner__caption {
  margin-top: -50px;
  color: #eee;
  text-align: center;
}
.article-detail-banner__caption-title {
  font-size: 52px;
  line-height: 1.23;
  font-weight: 600;
  margin-bottom: 40px;
}
.article-detail-banner__caption-desc {
  font-size: 22px;
  line-height: 1.55;
}

.article-detail-container {
  max-width: 960px;
  margin: 80px auto 60px auto;
  h2,
  h3,
  figure {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .article-detail-banner__caption-title {
    font-size: 49px;
    margin-bottom: 25px;
  }
  .article-detail-banner__caption-desc {
    font-size: 21px;
  }
  .article-detail-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 991px) {
  .article-detail-banner__caption-title {
    font-size: 46px;
    margin-bottom: 20px;
  }
  .article-detail-banner__caption-desc {
    font-size: 19px;
  }
  .article-detail-container {
    img {
      max-width: 520px;
      height: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .article-detail-banner {
    background-position: 30% !important;
  }
  .article-detail-banner__caption {
    padding: 0 30px;
  }
  .article-detail-banner__caption-title {
    font-size: 43px;
    margin-bottom: 15px;
  }
  .article-detail-banner__caption-desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  .article-detail {
    padding: 100px 0 30px 0;
  }
  .article-detail-banner {
    height: 550px;
  }
  .article-detail-banner__caption-title {
    font-size: 36px;
  }
  .article-detail-banner__caption-desc {
    font-size: 16px;
  }
  .article-detail-container {
    img {
      max-width: 320px;
    }
  }
}
