.categories {
  margin-top: -30px;
  padding: 35px 0px 30px 0px;
  background-color: #fff;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.16), 0px 2px 0px rgba(0, 0, 0, 0);
}
.categories__title {
  text-align: center;
}
.categories__row {
  margin: 35px 10px 0 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
}

.categories-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
  &:hover {
    color: #eb971a;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16), 0px 0px 0px rgba(0, 0, 0, 0);
  }
}
.categories-item__image {
  height: 100px;
  img {
    height: 100px;
  }
}
.categories-item:first-child .categories-item__image img {
  height: 85px;
  margin-top: 15px;
}
.categories-item__caption {
  margin-top: 15px;
  text-align: center;
  span {
    font-weight: 600;
  }
}
.categories-item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
  &:hover {
    color: #eb971a;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
  }
}
.categories-item__image {
  img {
    height: 100px;
    background: transparent;
  }
}
.categories-item__caption {
  margin-top: 15px;
  text-align: center;
  span {
    font-weight: 600;
  }
}

.categories-item_active {
  background: rgb(248, 248, 248) linear-gradient(rgb(248, 248, 248), rgb(234, 234, 234));
  box-shadow: -1px 2px 5px rgba(39, 39, 39, 0.1) inset;
}

@media screen and (max-width: 1200px) {
  .categories__row {
    grid-gap: 20px 0px;
  }
  .categories-item {
    width: 115px;
  }
  .categories-item__image {
    img {
      height: 85px;
    }
  }
  .categories-item:first-child .categories-item__image img {
    height: 70px;
  }
  .categories-item__caption {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .categories {
    padding: 25px 0px 20px 0px;
  }
  .categories__row {
    margin: 25px 5px 0 5px;
  }
  .categories__title {
    font-size: 21px;
  }
  .categories-item {
    width: 88px;
  }
  .categories-item__image {
    height: 55px;
    img {
      height: 55px;
    }
  }
  .categories-item:first-child .categories-item__image img {
    height: 40px;
  }
  .categories-item__caption {
    font-size: 12px;
  }
}
