.empty-cart {
  .popup__content {
    margin-top: -250px;
    margin-left: -400px;
  }
}
.empty-cart__content {
  background-color: #272727;
  width: 800px;
  height: 500px;
  position: relative;
}
.empty-cart-content__text {
  color: #fff;
  text-align: center;
  z-index: 100;
  position: relative;
  padding-top: 70px;
  font-family: "Roboto";
}
.empty-cart-content__filter {
  backdrop-filter: blur(3px);
}
.empty-cart-content__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.empty-cart-content__caption {
  font-size: 24px;
  font-weight: 500;
  a {
    color: #eb971a;
  }
}
.empty-cart-content__bg {
}
.empty-cart-content__bg-img {
  position: absolute;
}
.empty-cart-content__bg_logo {
  top: calc(50% - 240px);
  left: calc(50% - 240px);
  width: 480px;
  opacity: 0.6;
}
.empty-cart-content__bg_guitar {
  top: 40%;
  left: calc(50% - 62px);
  width: 125px;
}
.empty-cart-content__bg_basket {
  top: 45%;
  left: calc(50% - 121px);
  width: 190px;
}
