.filters {
  margin: 60px 0 30px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filters__title {
  margin: 0 0 20px 5px;
  font-size: 28px;
}
.filters__row {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filters-item {
  margin-left: 20px;
  font-weight: 500;
  color: #434343;
  &:first {
    margin-left: 0;
  }
}
.filters .ant-input-affix-wrapper {
  height: 32px;
}
.filters .ant-btn {
  &:hover {
    border-color: #eb971a !important;
  }
  svg {
    font-size: 17px;
  }
}

.filters-price {
  display: inline-block;
}
/* reset */
.filters-price-fieldset,
.filters-price-fieldset__input {
  all: unset;
}
.filters-price-fieldset__row {
  display: flex;
}
.filters-price-fieldset {
  display: flex;
  align-items: center;
  margin-right: 15px;
  &:last-child {
    margin-right: 5px;
  }
}
.filters-price-fieldset__label {
  font-size: 16px;
  margin-right: 8px;
}
.filters-price-fieldset__label_currency {
  margin-left: 5px;
  font-size: 16px;
}
.filters-price-fieldset__input {
  border-radius: 6px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 1;
  box-shadow: 0 0 0 1px #cfcfcf;
  background-color: #fff;
  height: 31px;
  max-width: 70px;
  &:focus {
    box-shadow: 0px 0px 1px 2px rgba(238, 149, 16, 0.6);
  }
}
@media screen and (max-width: 1200px) {
  .filters__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 991px) {
  .filters__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .filters {
    justify-content: center;
  }
  .filters__row {
    justify-content: center;
  }
  .filters__title {
    font-size: 23px;
  }
  .filters-item {
    margin-top: 15px;
    font-size: 14px;
    width: 300px !important;
  }
}
