.footer {
  background: linear-gradient(#14282a, #0e191b);
  padding: 30px 0;
  z-index: 100;
}
.footer__row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}
.footer-map {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
  width: 100%;
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
  }
}
.footer-text {
  color: #fff;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 15px;
}
.footer-phones {
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}
.footer-phones__title {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #eb971a;
}
.footer-phones__number {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.footer-adress {
  display: flex;
  flex-direction: column;
}
.footer-adress__title {
  font-size: 24px;
  display: inline-block;
  padding-bottom: 10px;
  font-weight: 500;
  color: #eb971a;
}
.footer-adress__text {
  display: inline-block;
}
.footer-partners {
  margin-top: 30px;
  a {
    color: #eb971a;
    border-bottom: 1px solid #eb971a;
  }
}

@media screen and (max-width: 1200px) {
  .footer-text {
    font-size: 18px;
  }
  .footer-phones {
    padding-bottom: 30px;
  }
  .footer-phones__title {
    font-size: 21px;
  }
  .footer-adress__title {
    font-size: 21px;
  }
}

@media screen and (max-width: 991px) {
  .footer-text {
    font-size: 16px;
  }
  .footer-phones {
    padding-bottom: 30px;
  }
  .footer-phones__title {
    font-size: 19px;
    padding-bottom: 5px;
  }
  .footer-adress__title {
    font-size: 19px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .footer__row {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    row-gap: 25px;
  }
  .footer-text {
    font-size: 15px;
    margin: 0 15px;
  }
  .footer-phones {
    padding-bottom: 20px;
  }
  .footer-phones__title {
    font-size: 17px;
  }
  .footer-adress__title {
    font-size: 17px;
  }
  .footer-partners {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .footer__row {
    grid-template-rows: 1fr 0.8fr;
  }
  .footer-text {
    font-size: 13px;
  }
  .footer-phones__title {
    font-size: 15px;
  }
  .footer-adress__title {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .footer__row {
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 430px) {
  .footer__row {
    grid-template-rows: 1fr 1.2fr;
  }
}
