.blog-fullscreen {
  background: url("/images/articles/ourblog-fullscreen.jpg") no-repeat;
  background-blend-mode: multiply;
  background-color: #8e8e8e;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 920px;
  font-family: "Playfair Display", serif;
}
.blog-fullscreen-caption {
  margin: 0 auto;
  color: #fff;
  padding-top: 305px;
  text-align: center;
}
.blog-fullscreen-caption__name {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.blog-fullscreen-caption__title {
  margin: 80px 0 20px 0;
  font-family: "Arial";
  font-size: 70px;
  line-height: 1.2;
}
.blog-fullscreen-caption__text {
  font-size: 24px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .blog-fullscreen-caption {
    padding-top: 355px;
  }
  .blog-fullscreen-caption__name {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2.5px;
  }
  .blog-fullscreen-caption__title {
    margin: 65px 0 15px 0;
    font-size: 55px;
    line-height: 1.2;
  }
  .blog-fullscreen-caption__text {
    font-size: 19px;
    max-width: 600px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 991px) {
  .blog-fullscreen {
    background: url("/images/articles/ourblog-fullscreen-small.jpg") no-repeat;
    background-blend-mode: multiply;
    background-color: #8e8e8e;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
  }
  .blog-fullscreen-caption {
    padding-top: 310px;
  }
  .blog-fullscreen-caption__name {
    font-size: 13px;
  }
  .blog-fullscreen-caption__title {
    margin: 50px 0 15px 0;
    font-size: 50px;
  }
  .blog-fullscreen-caption__text {
    font-size: 18px;
    max-width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .blog-fullscreen-caption__name {
    font-size: 12px;
  }
  .blog-fullscreen-caption__title {
    margin: 45px 0 10px 0;
    font-size: 40px;
  }
  .blog-fullscreen-caption__text {
    font-size: 16px;
    max-width: 500px;
  }
}

@media screen and (max-width: 575px) {
  .blog-fullscreen {
    height: 675px;
  }
  .blog-fullscreen-caption {
    padding-top: 285px;
  }
  .blog-fullscreen-caption__name {
    font-size: 12px;
  }
  .blog-fullscreen-caption__title {
    margin: 30px 0 10px 0;
    font-size: 35px;
  }
  .blog-fullscreen-caption__text {
    font-size: 15px;
  }
}
