.detail {
  padding: 110px 0 60px 0;
  position: relative;
}
.detail-bg {
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16), 0px 2px 0px rgba(0, 0, 0, 0);
  padding: 35px 55px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.detail-gift {
  display: flex;
  align-items: center;
  position: absolute;
  top: 120px;
  left: 110px;
  z-index: 100;
  padding: 15px 10px;
  max-width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16), 0px 2px 0px rgba(0, 0, 0, 0);
  text-decoration: none;
  color: #222;
  img {
    width: 35px;
    height: 35px;
    margin-right: 13px;
  }
}
.detail-card__row {
  display: flex;
  justify-content: space-between;
}
.detail-slider {
  width: calc(53% - 100px);
  margin: 0 auto;
}

.detail-slider .slick-dots {
  position: absolute;
  bottom: -100px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.detail-slider .slick-list img {
  max-height: 630px;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.detail-slider .slick-thumb img {
  width: 105px;
  height: 85px;
  filter: grayscale(100%);
  transition: transform 100ms ease, filter 300ms ease;
  object-fit: cover;
}
.detail-slider .slick-thumb .slick-active img {
  transform: scale(1.1);
  filter: none;
}
.detail-slider .slick-thumb li {
  width: 105px;
}

.slick-next:before,
.detail-slider .slick-prev:before {
  font-size: 28px;
  line-height: 1;
  opacity: 0.75;
  color: #eb971a;
}
.detail-slider .slick-prev {
  left: -20px;
  z-index: 100;
}
.detail-slider .slick-next {
  right: -10px;
  z-index: 100;
}

.detail-card {
  max-width: 750px;
  font-size: 24px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 30px 45px 5px 45px;
  background-color: #fff;
  color: #222;
}
.detail-card__title {
  font-size: 38px;
}
.detail-card__desc {
  padding: 30px 0 45px 0;
  text-align: justify;
}
.detail-card-purchase {
  display: flex;
  justify-content: space-around;
}
.detail-card-purchase-info {
  display: flex;
  flex-direction: column;
  font-family: "freight-display-pro";
  svg {
    margin-top: -9px;
  }
}
.detail-card-purchase-info__stock {
  color: #eb971a;
  font-weight: 600;
}
.detail-card-purchase-info__price {
  font-size: 50px;
  font-weight: 500;
}
.detail-card-purchase-buttons {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  a {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #eb971a;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    transition: box-shadow 200ms ease;
    &:hover {
      box-shadow: 0px 0px 8px 0px hsl(17.72deg 100% 70% / 70%);
    }
  }
}

@media screen and (max-width: 1200px) {
  .detail-gift {
    left: 30px;
    max-width: 330px;
    padding: 13px 10px;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      font-size: 15px;
    }
  }
  .detail-slider {
    width: calc(55% - 92px);
  }
  .detail-slider .slick-list img {
    max-height: 480px;
  }
  .detail-slider .slick-dots {
    bottom: -50px;
  }
  .slick-dots li {
    margin: 0 3px;
  }
  .detail-slider .slick-thumb img {
    width: 82px;
    height: 60px;
  }
  .detail-slider .slick-thumb li {
    width: 82px;
  }
  .detail-card {
    font-size: 22px;
    padding: 30px 0px 5px 40px;
  }
  .detail-card__title {
    font-size: 35px;
  }
  .detail-card-purchase-buttons {
    font-size: 19px;
  }
}

@media screen and (max-width: 991px) {
  .detail-card__row {
    flex-direction: column;
  }
  .detail-slider {
    width: 100%;
  }
  .detail-slider .slick-prev {
    left: 90px;
  }
  .detail-slider .slick-next {
    right: 100px;
  }
  .detail-card {
    font-size: 20px;
    padding: 90px 5px 5px 5px;
  }
  .detail-card__title {
    font-size: 32px;
  }
  .detail-card__desc {
    padding: 20px 0 35px 0;
  }
  .detail-card-purchase-info__stock {
    font-size: 19px;
  }
  .detail-card-purchase-info__price {
    font-size: 45px;
  }
  .detail-card-purchase-buttons {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .detail-bg {
    padding: 35px 10px;
  }
  .detail-gift {
    left: 15px;
    max-width: 320px;
  }
  .detail-slider .slick-prev {
    left: -30px;
  }
  .detail-slider .slick-next {
    right: -20px;
  }
  .detail-slider .slick-dots {
    bottom: -40px;
  }
  .detail-slider .slick-list img {
    max-height: 410px;
  }
  .detail-slider .slick-thumb img {
    width: 72px;
    height: 52px;
  }
  .detail-slider .slick-thumb li {
    width: 72px;
  }
  .detail-card {
    margin: 0;
  }
  .detail-card__desc {
    padding: 20px 0 30px 0;
  }
  .detail-card-purchase {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .detail-card-purchase-info {
    margin-bottom: 20px;
  }
  .detail-card-purchase-buttons {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .detail-slider .slick-prev {
    left: -25px;
  }
  .detail-slider .slick-next {
    right: -15px;
  }
  .detail-card__title {
    font-size: 30px;
  }
  .detail-card__desc {
    padding: 15px 0 25px 0;
    font-size: 19px;
  }
  .detail-card-purchase-info {
    margin-bottom: 25px;
  }
  .detail-card-purchase-buttons {
    font-size: 17px;
    width: 50%;
    a {
      padding: 13px 20px;
    }
  }
}
