.detail-slider__container {
  width: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-slider__main-img {
  //button {}
  img {
    display: block;
    height: 630px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
}
.detail-slider__button-prev,
.detail-slider__button-next {
  display: block;
  z-index: 100;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #eb971a;
  opacity: 0.75;
  font-family: "Roboto Condensed";
}
.detail-slider__button-prev {
  left: -40px;
}
.detail-slider__button-next {
  right: -40px;
}
.detail-slider__button-prev:before,
.detail-slider__button-next:before {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.detail-slider__button-prev:before {
  content: "<";
}
.detail-slider__button-next:before {
  content: ">";
}
.detail-slider__dots {
  text-align: center;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.detail-slider__dot {
  width: 150px;
  height: 100px;
  cursor: pointer;
  filter: grayscale(100%);
  transform: scale(0.9);
  transition: transform 100ms ease, filter 300ms ease;
  object-fit: cover;
}
.detail-slider__dot_active {
  transform: scale(1);
  filter: none;
}
