.detail {
  padding: 110px 0 60px 0;
  position: relative;
}
.detail-bg {
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16), 0px 2px 0px rgba(0, 0, 0, 0);
  padding: 35px 55px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.detail-gift {
  display: flex;
  align-items: center;
  position: absolute;
  top: 120px;
  left: 110px;
  z-index: 100;
  padding: 15px 10px;
  max-width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16), 0px 2px 0px rgba(0, 0, 0, 0);
  text-decoration: none;
  color: #222;
}
.detail-gift__image {
  min-width: 48px;
  img {
    width: 35px;
    height: 35px;
    margin-right: 13px;
  }
}
.detail-card__row {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.detail-slider {
  width: calc(53% - 100px);
  margin: 0 auto;
}

.detail-card {
  max-width: 750px;
  font-size: 21px;
  margin-left: 30px;
  border-radius: 10px;
  padding: 0px 30px 5px 30px;
  background-color: #fff;
  color: #222;
}
.detail-card__title {
  font-size: 35px;
}
.detail-card__desc {
  padding: 30px 0 45px 0;
  //text-align: justify;
}
.detail-card-purchase {
  display: flex;
  justify-content: space-around;
}
.detail-card-purchase-info {
  display: flex;
  flex-direction: column;
  font-family: "freight-display-pro";
  svg {
    margin-top: -9px;
  }
}
.detail-card-purchase-info__stock {
  color: #eb971a;
  font-weight: 600;
}
.detail-card-purchase-info__price {
  font-size: 48px;
  font-weight: 500;
}
.detail-card-purchase-buttons {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  a {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #eb971a;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    transition: box-shadow 200ms ease;
    &:hover {
      box-shadow: 0px 0px 8px 0px hsl(17.72deg 100% 70% / 70%);
    }
  }
}

.detail-card__video {
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.detail-card__video-button {
  display: flex;
  justify-content: center;
  border: 1px dashed #eb971a;
  border-radius: 10px;
  padding: 11px 20px;
  span {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    color: #eb971a;
  }
}
.detail-card__video-button__img {
  width: 24px;
}

.detail-card__video-popup {
  .popup__content {
    margin-left: -450px;
    margin-top: -300px;
  }
}
.detail-card__video-popup__frame {
  position: absolute;
  top: 0;
  iframe {
    max-width: 900px;
    max-height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .detail-gift {
    left: 30px;
    max-width: 330px;
    padding: 13px 10px;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      font-size: 15px;
    }
  }
  .detail-card {
    font-size: 22px;
    padding: 30px 0px 5px 40px;
  }
  .detail-card__title {
    font-size: 35px;
  }
  .detail-card-purchase-buttons {
    font-size: 19px;
  }
}

@media screen and (max-width: 991px) {
  .detail-card__row {
    flex-direction: column;
  }
  .detail-card {
    font-size: 20px;
    padding: 90px 5px 5px 5px;
  }
  .detail-card__title {
    font-size: 32px;
  }
  .detail-card__desc {
    padding: 20px 0 35px 0;
  }
  .detail-card-purchase-info__stock {
    font-size: 19px;
  }
  .detail-card-purchase-info__price {
    font-size: 45px;
  }
  .detail-card-purchase-buttons {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .detail-bg {
    padding: 35px 10px;
  }
  .detail-gift {
    left: 15px;
    max-width: 320px;
  }
  .detail-card {
    margin: 0;
  }
  .detail-card__desc {
    padding: 20px 0 30px 0;
  }
  .detail-card-purchase {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .detail-card-purchase-info {
    margin-bottom: 20px;
  }
  .detail-card-purchase-buttons {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .detail-card__title {
    font-size: 30px;
  }
  .detail-card__desc {
    padding: 15px 0 25px 0;
    font-size: 19px;
  }
  .detail-card-purchase-info {
    margin-bottom: 25px;
  }
  .detail-card-purchase-buttons {
    font-size: 17px;
    width: 50%;
    a {
      padding: 13px 20px;
    }
  }
}
