.detail {
  padding: 110px 0 60px 0;
  position: relative;
}
.detail-bg {
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16), 0px 2px 0px rgba(0, 0, 0, 0);
  padding: 35px 60px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.detail-gift {
  display: flex;
  align-items: center;
  position: absolute;
  top: 120px;
  left: 110px;
  z-index: 100;
  padding: 15px 10px;
  max-width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16), 0px 2px 0px rgba(0, 0, 0, 0);
  img {
    width: 35px;
    height: 35px;
    margin-right: 13px;
  }
}
.detail-card__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.slider-container {
  width: calc(50% - 100px);
  margin: 0 auto;
}

.detail-card {
  max-width: 750px;
  font-size: 25px;
  margin-left: 30px;
  border-radius: 10px;
  padding: 30px 45px 5px 45px;
  background-color: #fff;
  color: #222;
}
.detail-card__title {
  font-size: 40px;
}
.detail-card__desc {
  padding: 30px 0 45px 0;
  text-align: justify;
}
.detail-card-purchase {
  display: flex;
  justify-content: space-around;
}
.detail-card-purchase-info {
  display: flex;
  flex-direction: column;
  font-family: "freight-display-pro";
  svg {
    margin-top: -9px;
  }
}
.detail-card-purchase-info__stock {
  color: #eb971a;
  font-weight: 600;
}
.detail-card-purchase-info__price {
  font-size: 50px;
  font-weight: 500;
}
.detail-card-purchase-buttons {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  a {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #eb971a;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    transition: box-shadow 200ms ease;
    &:hover {
      box-shadow: 0px 0px 8px 0px hsl(17.72deg 100% 70% / 70%);
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -100px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-list img {
  max-height: 635px;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.slick-thumb img {
  width: 105px;
  height: 85px;
  filter: grayscale(100%);
  transition: transform 100ms ease, filter 300ms ease;
  object-fit: cover;
}
.slick-thumb .slick-active img {
  transform: scale(1.1);
  filter: none;
}
.slick-thumb li {
  width: 105px;
}

.slick-next:before,
.slick-prev:before {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #eb971a;
}
.slick-prev {
  left: -20px;
}
.slick-next {
  right: -20px;
}
