@import url("https://use.typekit.net/ovt6ynt.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900");

@import "./modules/ProductDetailsView.scss";
@import "./modules/Filtration.scss";
@import "./modules/DetailTabs.scss";
@import "./modules/Categories.scss";
@import "./modules/Products.scss";
@import "./modules/Footer.scss";
@import "./modules/Header.scss";
@import "./modules/MainFullscreen.scss";
@import "./modules/PageGifts.scss";
@import "./modules/GiftIcon.scss";
@import "./modules/PageAboutUs.scss";
@import "./modules/PageDelivery.scss";
@import "./modules/FeedbackFormPopup.scss";
@import "./modules/WhatsAppIcon.scss";
@import "./modules/PageNotFound.scss";

* {
  margin: 0;
  padding: 0;
}
html {
  scrollbar-color: #ffbb00 #222222;
  scroll-behavior: smooth;
}

body {
  background: #eeeeee;
  color: #222;
  font-family: "Montserrat", sans-serif;
}

//.wrapper {}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.up-arrow-btn {
  position: fixed;
  bottom: 40px;
  right: 130px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #eb971a;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 10%;
  z-index: 100;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0px 30px;
  }
  .up-arrow-btn {
    height: 45px;
    width: 45px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding: 0px 20px;
  }
  .up-arrow-btn {
    bottom: 130px;
    right: 45px;
  }
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 575px) {
  .up-arrow-btn {
    bottom: 120px;
  }
}
